<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ '/css/main.css' |  url }}" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
    <!-- Collapsible sidebar taken from: https://stackoverflow.com/questions/48472771/bootstrap-responsive-sidebar-menu-to-top-navbar -->
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5">G<span class="d-none d-sm-inline">ISST</span></span>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        {% assign sideNavPages = collections.all |  eleventyNavigation %}
                        {%- for entry in sideNavPages %}
                        <li class="nav-item">
                            <a href="{{ entry.url }}" class="nav-link px-sm-0 px-2">
                                <span class="ms-1 d-sm-inline">{{ entry.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col col-xxl-8 d-flex flex-column h-sm-100">
                <main class="row overflow-auto">
                    {{ content }}
                </main>
                <footer class="row bg-light py-4 mt-auto">
                    <div class="col"></div>
                </footer>
            </div>
        </div>
    </div>
    </body>
</html>
